@media (max-width: 1200px){
   
    #navbar {
        display: none;
    }

    #hamburger-nav {
        display: flex; 
    }
    .night{
        display:none;
    }
    .intro h1{
        font-size: 4rem;
    }
    .intro h2{
        font-size: 2.5rem;
    }
    .intro p{
        font-size: 1.5rem;
    }
    .name, .intro h2{
        text-shadow: rgb(255, 230, 0) -1px -2px 3px;
    }
    .fox{
        right: 20vw;
    }

    .myprofile{
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .aboutme{
        margin: 50px;
    }
    .skills{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 20px;
        background: none;
    }

    .myemail{
        font-size: 2rem;
    }

    .fantasy{
        display: none;
    }

    .topbutton{  
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance:none;
        position: sticky;
        bottom: 20px;      
        margin-right:10px; 
        place-self: end;
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        color: #fff;
        background: hsl(290, 100%, 40%);
        border-radius: 100px;
        white-space: nowrap;
        text-align: center;
        border: 2px solid rgb(144, 82, 226);
        z-index: 5;
      }
      .topbutton a{
        text-decoration: none;
        color: white
      }
      
      .toparrow{
        display: flex;
        flex-direction: column;
        color: white;
      }
      
      .topbutton:hover{
        background-color: green;
      }
}


@media (max-width: 992px) {

    #hamburger-nav {
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }

    .logoimage{
        display: none;
    }

    .logo{
       margin-left: 40px;
    }

    .night {
        display: none;
    }

    .intro h1 {
        font-size: 3.5rem; 
    }

    .intro h2 {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.25rem;
    }

    .name, .intro h2 {
        text-shadow: rgb(255, 230, 0) -1px -1px 2px;
    }

    .fox {
        right: 30vw;
    }

    .myprofile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .aboutme {
        margin: 30px;
        padding: 10px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 15px;
    }

    .myemail {
        font-size: 1.5rem;
    }
}

.topbutton{  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: hsl(290, 100%, 40%);
    border-radius: 100px;
    white-space: nowrap;
    text-align: center;
    border: 2px solid rgb(144, 82, 226);
    z-index: 5;
  }
  .topbutton a{
    text-decoration: none;
    color: white
  }
  
  .toparrow{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .topbutton:hover{
    background-color: green;
  }


@media (max-width: 768px) {

    #hamburger-nav {
        display: flex;
        justify-content: center;
        height: 100px;
        width: 550px;
        cursor: pointer;
    }

   
    #hamburger-nav a {
        font-size: 1.2rem; 
        padding: 10px 15px; 
        color: #fff; 
        text-decoration: none; 
        width: 100%; 
        display: block; 
    }


    
    #hamburger-nav a:hover {
        background-color: #555; 
    }

    .hamburgermenu-links{
        width: 50vw;
        height: 60vh;
    }

    .logo{
        display:none;
    }
    .intro h1 {
        font-size: 2.5rem;
    }

    .intro h2 {
        font-size: 1.8rem;
    }

    .intro p {
        font-size: 1.1rem;
    }

    .fox {
        display: none;
    }

    .aboutme {
        margin: 30px;
        padding: 20px;
    }

    #profile .myprofile{
        width: 92%;
    }
    #profile .myprofile .selfie img{
        width: 400px;
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 15px;
    }

    .porttitle{
        font-size: 60px;
        text-align: center;
        padding: 80px;
      }

    .projectcontainers {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 15px; 
        padding: 10px; 
    }

    .project1, .project2, .project3, .project4, .project5 {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .project1 img, .project2 img, .project3 img, .project4 img, .project5 img {
        width: 100%; 
        height: auto;
    }

    
    .projectbtncontainer button {
        width: 100%; 
        margin: 5px 0; 
    }

    .myemail a{
        font-size: 20px;
    }
    .myemail p{
        color: black;
        font-size: 20px;
        text-align: center;
        width: 400px;
      }
      #contactform input,
      #contactform textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
}

.topbutton{  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance:none;
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: hsl(290, 100%, 40%);
    border-radius: 100px;
    white-space: nowrap;
    text-align: center;
    border: 2px solid rgb(144, 82, 226);
    z-index: 5;
  }
  .topbutton a{
    text-decoration: none;
    color: white
  }
  
  .toparrow{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .topbutton:hover{
    background-color: green;
  }


}


@media (max-width: 468px) {

    
    #hamburger-nav {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column; 
        width: 100%; 
    }

    .hamburgermenu-links {
        width: 50vw;
        height: 60vh;
        background-color: #333;  
        position: absolute;
        top: 80px;  
        left: 0;
        z-index: 100;
        display: none;  
    }

    .hamburgermenu-links.open {
        display: block;  
    }

   
    .hamburger-icon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburger-icon span {
        height: 4px;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
    }

    
    .logo {
        display: none;
    }

    #herointro{
        width: 100%;
    }

    .intro{
        width: 100%;
    }

    
    .intro h1 {
        font-size: 1.8rem;
        margin: 5px 0;
        text-align: center;
    }

    .intro h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .intro p {
        font-size: 0.9rem;
        padding: 0 10px;
        text-align: center;
    }

    .name, .intro h2 {
        text-shadow: rgb(255, 230, 0) -0.5px -0.5px 1px;
    }

    .fox {
        display: none; 
    }

    .btn-container{
        width: auto;
    }
    .btn{
        width:50%;
        font-size: 12px;
    }

   
    .myprofile {
        padding: 5px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutme {
        width: 80%;
        font-size: 0.4rem;
    }


    #profile .myprofile .selfie img{
        width: 300px;
    }

    
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .myemail {
        width: 100%;
        text-align: center;
    }

    
    .night, .night2, .night3, .night4, .star{
        overflow: hidden;
    } 
    
    .fantasy {
        display: none !important;
    }

    .porttitle{
        font-size: 40px;
        text-align: center;
        padding: 80px;
      }

    .projectcontainers {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 15px; 
        padding: 10px; 
    }

    .project1, .project2, .project3, .project4, .project5 {
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .project1 img, .project2 img, .project3 img, .project4 img, .project5 img {
        width: 100%; 
        height: auto;
    }

    
    .projectbtncontainer button {
        width: 100%; 
        margin: 5px 0; 
    }


   
    #footer {
        width: 80vw;
    }

    .footer-links img {
        width: 30px;
        margin: 0 5px;
    }

    
    body, .container {
        padding: 5px;
        margin: 0;
    }
    .myemail a{
        font-size: 16px;
    }
    .myemail p{
        color: black;
        font-size: 16px;
        text-align: center;
        width: 300px;
      }

      #contactform input,
      #contactform textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      #contactform{
        height: 100%;
      }
      #contactform form{
        margin-bottom: 50px;
      }

      .contactbutton{
        width: 120px;
        height: 50px;
        font-size: 20px;
        margin: 15px;
        border-radius: 15px;
        border: 2px solid purple;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        box-shadow: #2bff00 0px 0px 10px;
      }

      .contactbutton:hover{
        cursor: pointer;
        opacity: 0.7;
        outline: purple 2px solid;
        animation: buttonhover 1s infinite;
      }
      
      .contactbutton:active{
        background-color: #690092;
      }
      
      input:invalid, textarea:invalid{
        border: 2px solid rgba(255, 0, 0, 0.473);
      }
      
      input:valid, textarea:valid{
        border: 2px solid greenyellow;
      }
      





      .topbutton{  
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance:none;
        position: sticky;
        bottom: 20px;      
        margin-right:10px; 
        place-self: end;
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        color: #fff;
        background: hsl(290, 100%, 40%);
        border-radius: 100px;
        white-space: nowrap;
        text-align: center;
        border: 2px solid rgb(144, 82, 226);
        z-index: 5;
      }
      .topbutton a{
        text-decoration: none;
        color: white
      }
      
      .toparrow{
        display: flex;
        flex-direction: column;
        color: white;
      }
      
      .topbutton:hover{
        background-color: green;
      }
}