/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Dangrek&family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Dangrek&family=DynaPuff:wght@400..700&family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    overflow-x: hidden;
}


.hide{
  display: none;
}



/* ! Links and buttons scroll when clicked */

html, body{
  scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;

}







/* ! Navigation Menu */

#navbar{
  position: sticky;
  top: 0;
  z-index: 2;
}


nav, .nav-links{
    display: flex;
    
}

nav{
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

.nav-links{
    list-style: none;
    font-size: 1.2rem;
    gap: 2rem;
    z-index: 10;
}

.nav-links a{
    color: white;
    text-decoration: none;
  }

.nav-links a:hover{
    color: rgb(0, 104, 0);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(0, 104, 0);
}

.logo{
    padding-right: 620px;
    z-index: 10;
    
}

.logo a{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.logo a:hover{
    color: rgb(0, 104, 0);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(0, 104, 0);
}






/* ! Hamburger */
#hamburger-nav{
    display: none;
}

.hamburgermenu{
    position: relative;
    display: inline-block;
    z-index: 6;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}


.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}


.hamburgermenu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: rgb(121, 1, 121);
    border-radius: 15px;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.6 ease-in-out;
}

.hamburgermenu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.3 ease-in-out;
}

.hamburgermenu-links a:hover{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(13, 155, 0);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.hamburgermenu-links li{
    list-style: none;
}

.hamburgermenu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}







/* ! Hero Section background */

#herointro{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(black, rgba(0, 1, 37, 0.322), rgba(0, 75, 119, 0.411), rgba(0, 111, 119, 0.329), rgba(0, 190, 51, 0.144));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid chocolate;
}

.intro{
  z-index: 2;
  padding: 5px;
  border-radius: 15%;
  text-align: center;
  background: hsl(27, 5%, 11%, 0.04);
  backdrop-filter: blur(5px) brightness(125%);

}






/* ! stars */

.night{
    position: absolute;
    width: 116%;
    height: 20%;
    transform: rotateZ(30deg);
    z-index: 1;
  }
.night2{
    position: absolute;
    width: 90%;
    height: 20%;
    transform: rotateZ(20deg);
    z-index: 1;
  }
  .night3{
    position: absolute;
    width: 55%;
    height: 20%;
    transform: rotateZ(25deg);
    z-index: 1;
  }
  .night4{
    position: absolute;
    width: 25%;
    height: -10%;
    transform: rotateZ(25deg);
    z-index: 1;
  }
  
  .star{
    position: absolute;
    left: 100%;
    top: 100%;
    height: 2px;
    background: linear-gradient(-45deg, #f8da2e3b, transparent);
    filter: drop-shadow(5px 5px 5px #fff203);
    animation: trail 2s ease-in-out infinite,
               position 2s ease-in-out infinite;
  }
  
  @keyframes trail{
    0%{
      width: 0;
    }
    30%{
      width: 105px;
    }
    100%{
      width: 0;
    }
  }
  
  @keyframes position{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(330px);
    }
  }
  
  .star:nth-child(1){
    top: calc(0% - 0px);
    left: calc(50% - 22px);
    animation-delay: 1.4s;
  }
  
  .star:nth-child(2){
    top: calc(10% - 50px);
    left: calc(30% - -200px);
    animation-delay: 0.2s;
  }
  
  .star:nth-child(3){
    top: calc(26% - 0px);
    left: calc(40% - 150px);
    animation-delay: 0.9s;
  }
  
  .star:nth-child(4){
    top: calc(10% - -20px);
    left: calc(60% - 100px);
    animation-delay: 0.8s;
  }
  
  .star:nth-child(5){
    top: calc(7% - 190px);
    left: calc(50% - 250px);
    animation-delay: 0.2s;
  }
  
  .star:nth-child(6){
    top: calc(20% - 400px);
    left: calc(90% - 100px);
    animation-delay: 0.7s;
  }
  
  





/* ! fox and text in Hero Section */

.fox{
    position: absolute;
    bottom: 10vh;
    right: 30vw;
    -webkit-box-reflect: below -5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0, 0, 0, 0.514));
    
}

.name{
    font-family: "DynaPuff", sans-serif;
    font-weight: 200;
    font-size: 5rem;
    color: #690092d7;
    text-shadow:
     rgb(255, 255, 255) 900px -50px 40px,
    rgb(121, 121, 121) -950px -130px 51px,
    rgb(255, 255, 255) -950px -120px 80px,
    rgb(255, 255, 255) 400px -130px 45px,
    rgba(0, 0, 139, 0.322) 900px -50px 100px,
    rgb(255, 255, 255) 900px -50px 100px,
    rgb(15, 13, 95) -201px -150px 100px,
    rgb(255, 255, 255) -950px -170px 50px,
    rgb(255, 255, 255) 400px -110px 51px,
    rgb(246, 246, 255) -950px -150px 51px,
    rgb(255, 255, 255) 920px -65px 40px,
    rgb(255, 255, 255) -950px -140px 50px,
    rgb(255, 255, 255) 420px -120px 40px,
    rgb(255, 255, 255) 400px -150px 40px,
    rgb(255, 255, 255) 400px -150px 40px,
    rgb(255, 255, 255) 450px -180px 40px,
    rgba(253, 253, 253, 0.993) 900px -50px 100px,
    rgba(250, 250, 250, 0.671) 950px -50px 50px,
    rgb(255, 255, 255) -950px -130px 51px,
    rgb(255, 230, 0) -1px -2px 3px;
}



.intro h2{
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-shadow: rgba(255, 255, 255, 0.404) 200px -150px 90px,
    rgb(255, 255, 255) -700px -190px 90px,
    rgb(255, 255, 255) -900px -150px 90px,
    rgb(255, 255, 255) 900px -100px 90px,
    rgba(247, 245, 245, 0.103) -820px -150px 90px;

    
}


p{
    font-family: "Dangrek", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: white;

}

.japanese{
  font-size: 15px;

}

.herolanguages{
  font-size: 1rem;

}



/* ! Buttons and social links in Hero section */

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 80px;
}


.btn{
  color: rgb(233, 225, 189);
  font-size: larger;
  width: 140px;
  height: 40px;
  margin-top: 50px;
  margin-right: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  z-index: 0;
}

.btn1::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(-85deg, rgba(65, 0, 65, 0.9), rgba(206, 0, 196, 0.651), rgb(221, 224, 0));
  filter: blur(2px);
  z-index: -1;
  animation: border 60s linear infinite;
  background-size: 145%;
  border-radius: 12px;
}

.btn2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(-85deg, rgba(65, 0, 65, 0.952), rgba(206, 0, 196, 0.651), rgb(221, 224, 0));
  filter: blur(2px);
  z-index: -1;
  animation: border2 60s linear infinite;
  background-size: 145%;
  border-radius: 12px;
}

.btn::after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #026666cc;
  left: 0;
  top: 0;
  border-radius: 12px;
}

@keyframes border{
  0%{background-position: 0 0;}
  50%{background-position: 1000% 0;}
  100%{background-position: 0 0;}
}

@keyframes border2{
  0%{background-position: 0 0;}
  50%{background-position: -1000% 0;}
  100%{background-position: 0 0;}
}


.btn:active{
  color: #008d07;
  font-weight: bold;
}

.btn:hover{
  opacity: 0.7;
  outline: purple 2px solid;
  animation: buttonhover 1s infinite;
}

@keyframes buttonhover{
  0%{

  }
  50%{
    outline-offset: 10px;
  }
  100%{
    outline: none;
  }
}




.socialscontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialscontainer img{
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
}






/* ! About Section formatting */


.about, #profile{
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(67, 216, 129, 0.664), rgba(136, 248, 233, 0.774), rgb(198, 244, 252));
}

.abouttitle{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
}

.selfie, .aboutme, .skills{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

h3{
  font-size: 40px;
  margin-top: 2px;
  margin-bottom: 30px;
}


/* ! About Me title */

.me{
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: white;
}

/* ! About Section Layout */

.myprofile{
  padding-top: 3px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        flex-direction: column;
        flex-wrap: wrap;
}

/* ! Picture */

.selfie img{
  width: 600px;
  grid-column: 1;
  transform: rotate(15deg);
  filter:drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

/* ! About Me Text */

.aboutme{
  margin: 40px;
  height: fit-content;
  grid-column: 2;
  border: 2px solid purple;
  background: hsla(92, 64%, 85%, 0);
  backdrop-filter: blur(1px) brightness(10%);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
  font-size: 1rem;
  color: rgba(217, 255, 0, 0.89);
  line-height: 1.4;

}

.aboutme p{
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: white;
}


/* ! Skills */

.skills{
  grid-column: 3;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  z-index: 1;
  border-radius: 25%;
  background: hsla(140, 100%, 9%, 0.137);
  backdrop-filter: blur(5px) brightness(65%);
}






/* ! Portfolio Section Layout */



#portfolio{
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(198, 244, 252), rgb(129, 194, 216), rgb(90, 154, 175), black);
}
.projectcontainers{
  display: grid;
  margin: 25px;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
        flex-direction: column;
        flex-wrap: wrap;
}


.tech img {
  width: 50px;
}

.projectimage{
  width: 100%;
}

.buttoncontainer{
  display: flex;
  width: 100%;
}
.apppreviewbutton, .appinfobutton{
  width: 50%;
  height: 60px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.apppreviewbutton{
  border-top-left-radius: 25px;
}
.appinfobutton{
  border-top-right-radius: 25px;
}



/* !Portfolio Title */

.porttitle{
  font-size: 80px;
  text-align: center;
  padding: 80px;
}

/* ! Project Displays */

.project1{
  background: hsl(27, 5%, 11%, 0.04);
  box-shadow: 2px 2px 30px rgb(36, 0, 59);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project2{
  background: hsl(27, 5%, 11%, 0.04);
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project3{
  background: hsl(27, 5%, 11%, 0.04);
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project4{
  background: hsl(27, 5%, 11%, 0.04);
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project5{
  background: hsl(27, 5%, 11%, 0.04);
  box-shadow: 2px 2px 10px black;
  border: 1px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appinfo{
  text-align: center;
  padding: 20px;
  line-height: 2;
}

.project1 .appinfo ol li{
  list-style: none;
}

.appinfo h2{
  font-size: 40px;
}

.appinfo p{
  color: black;
}

/* ! Project Buttons */

.projectbtncontainer{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.projectbtn{
  color: rgb(255, 255, 255);
  background-color: #43005e;
  font-size: larger;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 3px solid black;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  z-index: 0;
}






/* ! Contact Form Layout */

#contactform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  max-height: 100vh;
  margin:auto auto;
  margin-bottom: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(151, 43, 247, 0.1);
}

#contactform label {
  font-size: 16px;
  margin-bottom: 8px;
}

#contactform input,
#contactform textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#contactform button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contactform button:hover {
  background-color: #004494;
}


/* ! Contact Title */

.contacttitle{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
  
}

/* ! Contact Email */

.myemail{
  color: black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: 500px;
}

.myemail p{
  color: black;
  text-align: center;
  width: 500px;
}

.myemailaddress{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #008d07;
  text-underline-offset: 10px;
}

.myemailaddress a{
  color: black;
  font-size: 2rem;
text-decoration: none;
}

/* ! Actual Contact Form */

#contactform form{
  z-index: 2;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  color: white;
  background: hsl(0, 36%, 5%);
}

input{
  padding: 5px;
  width: 320px;
}

textarea{
  padding: 5px;
}

.contactbutton{
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-right: 20px;
  border-radius: 15px;
  border: 2px solid purple;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: #2bff00 0px 0px 10px;
}

.contactbutton:hover{
  cursor: pointer;
  opacity: 0.7;
  outline: purple 2px solid;
  animation: buttonhover 1s infinite;
}

.contactbutton:active{
  background-color: #690092;
}

input:invalid, textarea:invalid{
  border: 2px solid rgba(255, 0, 0, 0.473);
}

input:valid, textarea:valid{
  border: 2px solid greenyellow;
}



/* ! Footer */


#footer{
  background-color: black;
  color: white;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rights{
  padding-top: 10px;
  bottom: 0;
  text-align: center;
}
.footer-links{
  margin-top: 50px;
}



/* ! To Top Button */


.topbutton{  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance:none;
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: hsl(290, 100%, 40%);
  border-radius: 100px;
  white-space: nowrap;
  text-align: center;
  border: 2px solid rgb(144, 82, 226);
  z-index: 5;
}

.topbutton a{
  text-decoration: none;
  color: white
}

.toparrow{
  display: flex;
  flex-direction: column;
  color: white;
}

.topbutton:hover{
  background-color: green;
}




